---
#Feature in 20.1.0 stops this working if C formatting fails over.
#See: https://github.com/llvm/llvm-project/issues/132832
#Language:        Cpp
BasedOnStyle:  Google
KeepEmptyLinesAtTheStartOfBlocks: true
PenaltyBreakAssignment: 2
DerivePointerAlignment: false
PointerAlignment: Right
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        3
    SortPriority:    3
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        4
  - Regex:           '<[[:alnum:].]+>'
    Priority:        5
  - Regex:           '.*'
    Priority:        2
    SortPriority:    0
  - Regex:           config.h
    Priority:        1
...
