#  Only run on merge requests or pushed to the master branch.
#  Do run for draft MRs, but only see CI_MERGE_REQUEST_DRAFT
#  when in an MR, not during a merge to master.
#
#  Jobs are different for MRs and merges to master.

workflow:
  rules:
    - if: >
        $CI_PIPELINE_SOURCE == "merge_request_event" &&
        $CI_MERGE_REQUEST_DRAFT == "true"
      when: never

    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - when: never

#  We just build, that is a job is lots of compilations and tests.
#  Those could be separated but tests would need to keep artifacts
#  to preserve context with the compilations, and we have a lot
#  of builds based on configure options, so each would need to be handled. Not
#  sure that could be efficient.
stages:
  - build

variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

#  JOBS.
#  -----

debug:
  stage: build
  rules:
    - when: always
  script:
    - printf "%s\n" \
        "SOURCE=$CI_PIPELINE_SOURCE" \
        "BRANCH=$CI_COMMIT_BRANCH" \
        "MR_SOURCE=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME" \
        "MR_TARGET=$CI_MERGE_REQUEST_TARGET_BRANCH_NAME"

swift-gnu-build:
  stage: build
  #  When MR to master happens, or commit is to master.
  rules:
    - if: >
        $CI_PIPELINE_SOURCE == "push" &&
        $CI_COMMIT_BRANCH == "main"
  timeout: 6h
  script:
    - echo "GNU toolchain compilation and unit tests (full)"
    - ci/swift-gcc-check.sh
    - echo "complete."

swift-intel-build:
  stage: build
  #  When MR to master happens, or commit is to master.
  rules:
    - if: >
        $CI_PIPELINE_SOURCE == "push" &&
        $CI_COMMIT_BRANCH == "main"
  timeout: 6h
  script:
    - echo "Intel OneAPI toolchain compilation and unit tests (full)"
    - ci/swift-intel-check.sh
    - echo "complete."

swift-intel-build-mr:
  stage: build
  #  When this commit is part of an active MR.
  rules:
    - if: >
        $CI_PIPELINE_SOURCE == "merge_request_event" &&
        $CI_MERGE_REQUEST_DRAFT == "false"
  timeout: 6h
  script:
    - echo "Merge request check using Intel toolchain"
    - ci/swift-intel-check-mr.sh
    - echo "complete."

