#  Only run on merge requests or pushed to the master branch.
#  Do run for draft MRs, but only see CI_MERGE_REQUEST_DRAFT
#  when in an MR, not during a merge to master.
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_DRAFT == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

stages:
  - build

variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

swift-gnu-build:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH != "master"
      when: never
  timeout: 6h
  script:
    - echo "GNU toolchain compilation and unit tests"
    - printenv
    - ci/swift-gcc-check.sh
    - echo "complete."

swift-gnu-build-mr:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: never
  timeout: 6h
  script:
    - echo "GNU toolchain compilation and unit tests for Merge request"
    - printenv
    - ci/swift-gcc-check-mr.sh
    - echo "complete."

